body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 32px;
}

h1 {
    font-size: 18px;
}

.list li {
    font-size: 16px;
    cursor: pointer;
}

.green {
    background-color: greenyellow;
}

.red {
    background-color: deeppink;
}

.test {
    background-color: beige;
    padding: 32px;
}

.out-1, .out-2 {
    padding: 16px;
    cursor: pointer;
}


